@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --violet-: hsl(257, 40%, 49%);
    --softmagenta-: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--violet-);
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

.sns-link-list.row{
    display: flex;
    justify-content: right;
    text-decoration: none;
    width: 100%;
}

.sns-link-list.row a:hover i{
    border: 1px solid var(--softmagenta-);
    color: var(--softmagenta-);
}

.sns-link-list.row a i{
    color: white;
    padding: 13px;
    width: 13px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 13px;
    margin-top: 40px;
    font-size: 13px;
}

.img{
    width: 100%;
    align-self: center;
}

.logo{
    width: 200px;
}

.btn{
    background-color: white;
    border-radius: 30px;
    color: var(--violet-);
    width: 190px;
    height: 40px;
    box-shadow: 1px 2px 5px 1px rgba(31, 31, 31, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: var(--softmagenta-);
    color: white;
    transition: 0.2s;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 375px){
    body{
        background-image: url('../images/bg-mobile.svg');
        background-repeat: no-repeat;
    }

    p{
        font-size: 16px;
    }

    .btn{
        align-self: center;
    }

    .sns-link-list.row{
        width: 70%;
        justify-content: space-around;
        text-decoration: none;
        align-self: center;
    }

    .sns-link-list.row a i{
        margin-right: 0;
    }
}