.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 75px;
}

.container .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container .row .col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}

.w-50{ width: 50%;}

.pt-25{ padding-top: 25px; }

.pb-25{ padding-bottom: 25px; }

.px-15{ padding-right: 15px; padding-left: 15px; }

.my-25{ margin-top: 25px; margin-bottom: 25px; }

@media screen and (max-width: 375px) {
    .container{
        padding: 50px 25px;
    }

    .container .row .col{
        text-align: center;
        width: 100%;
    }

    .img{
        width: 95%;
    }
}